.bh-notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 12px 30px 12px 15px; /* Add padding for close button */
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 9999;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.bh-notification.show {
  opacity: 1;
}
.bh-notification-success {
  border: 2px solid forestgreen;
  background-color: lightgreen;
  color: darkgreen;
}
.bh-notification-error {
  border: 2px solid indianred;
  background-color: lightcoral;
  color: darkred;
}
.bh-notification-close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: inherit; /* Inherit color from parent */
}
.bh-progress-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px;
  background-color: transparent;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 9999;
  overflow: hidden;
}
.bh-progress-container.show {
  opacity: 1;
}
.bh-progress-content {
  position: relative;
  padding: 12px 30px 12px 15px;
  background-color: #f1f1f1;
}
.bh-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: lightgreen;
  transition: width 0.3s;
  z-index: 0;
}
.bh-progress-title {
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  z-index: 1;
}
.bh-progress-text {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  color: darkgreen;
  z-index: 1;
}
.bh-progress-close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: #666;
  z-index: 2;
}
